<div class="container-fluid marNav">




    <div class="logo">
        <a href="index.html">
            <img src="/all_media/logo.png" alt="logo" class="navbar-brand">
        </a>

    </div>

    <div class="searchLi">
        <input type="search" class="search" placeholder="Search">
        <span>
                    <button type="button" class="btn searchBtn">
                        <i class="glyphicon glyphicon-search" ></i>
                    </button>
                </span>
    </div>


    <nav  id="mainNav">
        <ul class="nav navbar-nav menuItems">
            <li class="navItem hidden" id="homeNav">
                <a href="index.html" class="menuLink">
                    <span>HOME</span>
                </a>
            </li>
            <li class="navItem" id="hiddenItemNav">
                <a href="#" class="menuLink">
                    <span>MEN</span><br>
                    <span class="caret"></span>
                </a>
                <div class="drop">
                    <div class="first-column">
                        <span class="casuals"><b>Casuals</b></span>
                        <ul class="dropMen">
                            <li class="drop_li"><a href="#" class="dropLink">Jackets</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Hoodies & Sweatshirts</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Polo Shirts</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Sportswear</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Trousers & Chinos</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">T-shirts</a></li>
                        </ul>
                    </div>
                    <div class="second-column">
                        <span class="formal"><b>Formal</b></span>
                        <ul class="dropMen">
                            <li class="drop_li"><a href="#" class="dropLink">Jackets</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Shirts</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Suits</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Trousers</a></li>
                        </ul>
                    </div>
                    <div class="third-column">
                        <a href="#">
                            <img src="all_media/sale.png" alt="sales">
                        </a>
                    </div>
                </div>

            </li>
            <li class="navItem" id="hiddenItemNav-w">
                <a href="#" class="menuLink">
                    <span>WOMEN</span><br>
                    <span class="caret"></span>
                </a>
                <div class="drop">
                    <div class="first-column">
                        <span class="casuals"><b>Casuals</b></span>
                        <ul class="dropMen">
                            <li class="drop_li"><a href="#" class="dropLink">Jackets</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Hoodies & Sweatshirts</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Polo Shirts</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Sportswear</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Trousers & Chinos</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">T-shirts</a></li>
                        </ul>
                    </div>
                    <div class="second-column">
                        <span class="formal"><b>Formal</b></span>
                        <ul class="dropMen">
                            <li class="drop_li"><a href="#" class="dropLink">Jackets</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Shirts</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Suits</a></li>
                            <li class="drop_li"><a href="#" class="dropLink">Trousers</a></li>
                        </ul>
                    </div>
                    <div class="third-column">
                        <a href="#">
                            <img src="all_media/sale.png" alt="sales">
                        </a>
                    </div>
                </div>

            </li>
            <li class="navItem">
                <a href="index.html" class="menuLink">
                    <span>THE BRAND</span><br>
                    <span class="caret noNeedForCarret"></span>
                </a>
            </li>
            <li class="navItem">
                <a href="local-stores.html" class="menuLink">
                    <span>LOCAL STORES</span><br>
                    <span class="caret noNeedForCarret"></span>
                </a>
            </li>
            <li class="navItem">
                <a href="look-book.html" class="menuLink">
                    <span>LOOK BOOK</span><br>
                    <span class="caret noNeedForCarret"></span>
                </a>
            </li>
        </ul>

    </nav>
</div>