<div class="mainFooter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <div class="companyInitials">
                    ⓒ2016 Avenue Fashion™
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
                <div class="designAndDev">
                    <span id="desBy">Design by RobbyDesigns.com</span>
                    <span id="devBy">Dev by Lemishka Oleksandr</span>
                </div>
            </div>
        </div>
    </div>
</div>