<div class="footerUpper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footerInfo">

                    <ul class="footerUl">
                        <li class="footerHeader"><a href="#" class="footerLink">Information</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">The brand</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Local stores</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Customer service</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Privacy & cookies</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Site map</a></li>
                    </ul>

                    <ul class="footerUl">
                        <li class="footerHeader"><a href="#" class="footerLink">Why buy from us</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Shipping & returns</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Secure shopping</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Testimonials</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Award winning</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Ethical trading</a></li>
                    </ul>

                    <ul class="footerUl">
                        <li class="footerHeader"><a href="#" class="footerLink">Your account</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Sign in</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Register</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">View cart</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">View your lookbook</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Track an order</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Update information</a></li>
                    </ul>

                    <ul class="footerUl">
                        <li class="footerHeader"><a href="#" class="footerLink">Lookbook</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Latest posts</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Men's lookbook</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Women's lookbook</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Lookbooks RSS feed</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">View your lookbook</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Delete your lookbook</a></li>
                    </ul>

                    <ul class="footerUl">
                        <li class="footerHeader"><a href="#" class="footerLink">Contact Details</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Head Office:Avenue Fashion.<br>
                            180-182 Regent Street,London.</a>
                        </li>
                        <li class="footer_li"><a href="#" class="footerLink">Telephone:0123-456-789</a></li>
                        <li class="footer_li"><a href="#" class="footerLink">Email:support@yourwebsite.com</a></li>

                    </ul>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="blocks">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="award">
                                <div class="awardText">
                                   <span>
                                       <b>AWARD WINNER</b><br>
                                        FASHION AWARDS 2016
                                   </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="socials">
                                <ul class="socialUl">
                                    <li class="socialLi">
                                        <a href="#" class="socialLink"><img src="all_media/facebook.png" alt="f"></a>
                                    </li>
                                    <li class="socialLi">
                                        <a href="#" class="socialLink"><img src="all_media/twitter.png" alt="t"></a>
                                    </li>
                                    <li class="socialLi">
                                        <a href="#" class="socialLink"><img src="all_media/instagram.png" alt="i"></a>
                                    </li>
                                    <li class="socialLi">
                                        <a href="#" class="socialLink"><img src="all_media/picaso.png" alt="p"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
