<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-5 col-xs-4 col-lg-3" >
                <div class="currency">
                    <button id="currBtn" data-toggle="dropdown" class="btn">
                        Currency
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">USD</a></li>
                        <li><a href="#">UAH</a></li>
                    </ul>
                </div>
                <div class="homeLink">
                    <button  type="button" class="homeLinkBtn btn">
                        <a href="index.html">Home</a>
                    </button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-8 col-lg-6" >
                        <div class="topBtns text-right">
                            <button class="btn" id="registrBtn">
                                <a href="sign-in.html">
                                    Register
                                </a>
                            </button>
                            <button class="btn" id="signBtn">
                                <a href="sign-in.html">
                                    Sign in
                                </a>
                            </button>
                        </div>

            </div>
            <div class="col-md-2 col-sm-3 hidden-xs col-lg-3">
                <div class="cart">
                    <button class="button" type="button" data-toggle="dropdown" id="emptyCart">
                        <span class="glyphicon glyphicon-shopping-cart">  empty</span>

                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Some T-shirt XXl</a></li>
                        <li><a href="#">Some T-shirt Xl</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
