<div class="localStBg">
</div>


<div class="details">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="city">
                    <h4>LONDON</h4>
                    <span ><b>180-182 REGENT STREET,LONDON,W1B 5BT</b></span>
                    <p class="underAddress">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at atque, beatae deleniti dicta ducimus error expedita inventore iure minus mollitia nisi, odio omnis quaerat quasi repudiandae unde ut vero?</p>
                    <button class="viewDetails londonBtn">VIEW DETAILS</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="city">
                    <h4>NEW YORK</h4>
                    <span><b>109 COLUMBUS CIRCLE,NEW YORK,NY 10023</b></span>
                    <p class="underAddress">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolore eum ipsam nulla optio quam rerum voluptatum. Ab assumenda delectus dolor eaque error id modi, perspiciatis quo repellat tempora.</p>
                    <button class="viewDetails newYorkBtn">VIEW DETAILS</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="city">
                    <h4>PARIS</h4>
                    <span><b>2133 RUE SAINT-HONORE,75001 PARIS</b></span>
                    <p class="underAddress">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A culpa cumque dolor eius fugit iusto quasi quod tempore. Commodi perferendis quaerat reiciendis rerum, tempore vitae.</p>
                    <button class="viewDetails parisBtn">VIEW DETAILS</button>
                </div>
            </div>
        </div>
    </div>






</div>


<div class="maps">
    <div class="map londonMap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                    <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJnbnGdtUEdkgR2r_5gZYBDN4&key=AIzaSyCYcOsNNMxmpOxKefzbJ8DBoLb-w7RAkjs" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12" >
                    <div class="infoMap">
                        <h4>LONDON</h4>
                        <span ><b>180-182 REGENT STREET,LONDON,W1B 5BT</b></span>
                        <p class="underAddress">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at atque, beatae deleniti dicta ducimus error expedita inventore iure minus mollitia nisi, odio omnis quaerat quasi repudiandae unde ut vero?</p>
                        <ul class="mapInfoUl">
                            <li class="mapInfoLi">180-182 Regent Street,W1B 5BT</li>
                            <li class="mapInfoLi">0123-456-789</li>
                            <li class="mapInfoLi">www.yourweb.com</li>
                            <li class="mapInfoLi">Monday-friday 9 am to 6 am saturday 10 am to 2 pm </li>
                        </ul>
                        <ul class="mapSocials">
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/facebook.png" alt="social"></a>
                            </li>
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/twitter.png" alt="social"></a>
                            </li>
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/instagram.png" alt="social"></a>
                            </li>
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/picaso.png" alt="social"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="map newYorkMap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                    <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:EikxMDkgQ29sdW1idXMgQ2lyLCBOZXcgWW9yaywgTlkgMTAwMTksIFVTQQ&key=AIzaSyCYcOsNNMxmpOxKefzbJ8DBoLb-w7RAkjs" allowfullscreen></iframe>

                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12" >
                    <div class="infoMap">
                        <h4>NEW YORk</h4>
                        <span ><b>109 COLUMBUS CIRCLE,NEW YORK,NY 10023</b></span>
                        <p class="underAddress">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at atque, beatae deleniti dicta ducimus error expedita inventore iure minus mollitia nisi, odio omnis quaerat quasi repudiandae unde ut vero?</p>
                        <ul class="mapInfoUl">
                            <li class="mapInfoLi">180-182 Regent Street,W1B 5BT</li>
                            <li class="mapInfoLi">0123-456-789</li>
                            <li class="mapInfoLi">www.yourweb.com</li>
                            <li class="mapInfoLi">Monday-friday 9 am to 6 am saturday 10 am to 2 pm </li>
                        </ul>
                        <ul class="mapSocials">
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/facebook.png" alt="social"></a>
                            </li>
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/twitter.png" alt="social"></a>
                            </li>
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/instagram.png" alt="social"></a>
                            </li>
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/picaso.png" alt="social"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="map parisMaps">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                    <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:EikxMDkgQ29sdW1idXMgQ2lyLCBOZXcgWW9yaywgTlkgMTAwMTksIFVTQQ&key=AIzaSyCYcOsNNMxmpOxKefzbJ8DBoLb-w7RAkjs" allowfullscreen></iframe>


                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12" >
                    <div class="infoMap">
                        <h4>Paris</h4>
                        <span ><b>2133 RUE SAINT-HONORE,75001 PARIS</b></span>
                        <p class="underAddress">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at atque, beatae deleniti dicta ducimus error expedita inventore iure minus mollitia nisi, odio omnis quaerat quasi repudiandae unde ut vero?</p>
                        <ul class="mapInfoUl">
                            <li class="mapInfoLi">180-182 Regent Street,W1B 5BT</li>
                            <li class="mapInfoLi">0123-456-789</li>
                            <li class="mapInfoLi">www.yourweb.com</li>
                            <li class="mapInfoLi">Monday-friday 9 am to 6 am saturday 10 am to 2 pm </li>
                        </ul>
                        <ul class="mapSocials">
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/facebook.png" alt="social"></a>
                            </li>
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/twitter.png" alt="social"></a>
                            </li>
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/instagram.png" alt="social"></a>
                            </li>
                            <li class="mapSocLi">
                                <a href="#"> <img class="socPic" src="all_media/picaso.png" alt="social"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>