<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>Look Book</title>
    <link rel="stylesheet" href="/css/bootie.min.css">
    <link rel="stylesheet" href="/css/app.min.css">

</head>
<body>
<!--@@include=slideout.html-->
<main id="panel" class="slideout-panel">
    <header>

        <!--top-header-->

        <!--@@include=header.main.html-->

        <!--/top-header-->

        <!--top-nav-->
        <div class="bgForNav">
            <!--@@include=big.nav.html-->
        </div>


        <!--/top-nav-->
    </header>
    <section>
        <!--main content-->

        <!--@@include=look-book.content.html-->


        <!--/main content-->
    </section>
    <!--@@placeholder=content-->

    <footer>
        <!--@@include=footer.upper.html-->
        <!--@@include=footer.main.html-->
    </footer>

</main>

<script src="js/allDev.min.js"></script>
<script src="js/app.min.js"></script>

</body>
</html>