<div class="mainLogo">
</div>
<div class="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="sign-in-form">
                    <h2 class="signHeader">Sign in</h2>
                    <form action="#" class="signForm" name="signForm">
                        <div class="signEmailInput">
                            <input type="email"
                                   class="emailSign basicInput"
                                   placeholder=" Your Email"
                                   name="signEmail"

                            >
                        </div>
                        <div class="signPswdInput">
                            <input type="password"
                                   class="pswdSign basicInput"
                                   placeholder=" Your password"
                                   name="signPswd"

                            >
                        </div>
                        <div class="signIn-btnDiv">
                            <button class="signBtn">SIGN IN</button>
                            <a href="#" id="forgetPswd">
                                <span >Forgot your password <i class="glyphicon glyphicon-arrow-right"></i></span>
                            </a>

                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="register-form">
                    <h2 class="signHeader">Register</h2>
                    <form action="#" class="regForm" id="registr" name="regForm">
                        <div class="regEmailInput">
                            <input type="text"
                                   class="emailReg basicInput"
                                   placeholder=" Your Email"
                                   name="email"
                            >
                        </div>
                        <div class="regPswdInput">
                            <input type="password"
                                   class="pswdReg basicInput"
                                   placeholder=" Your password"
                                    name="password"
                            >
                        </div>
                        <div class="regConfirmInput">
                            <input type="password"
                                   class="confirmReg basicInput"
                                   placeholder=" Confirm password"
                                    name="confirm"

                            >
                        </div>
                        <div class="spam">
                            <input type="checkbox" class="spanCheck" name="spam">
                            <span class="checkmark"></span>
                            <span>Sign up for exclusive updates,discounts,new arrivals,contests,and more!</span>
                        </div>
                        <div class="reg-btnDiv">
                            <button class="regBtn" type="submit">
                                CREATE ACCOUNT
                            </button>
                            <span id="agreement">
                                By clicking 'Create Account',you <br>
                                agree to our <a href="#">Privacy Policy <i class="glyphicon glyphicon-arrow-right"></i></a>
                            </span>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>





