<nav id="menu" class="slideout-menu slideout-menu-right">
    <ul class="slide_menu_ul">
        <li id="searchNav">
            <span class="logo_nav"><b>Avenue</b> Fashion</span>

            <input type="search" placeholder="search &#x1F50D" class="search_slide">

        </li>
        <li class="slide_menu_li"><a href="index.html">HOME</a></li>
        <li class="slide_menu_li">
            <a href="#">
                MENS
                <span class="caret"></span>

            </a>


            <div class="submenu">
                <ul class="submenu_ul">
                    <li class="submenu_li"><a href="#" >Jackets</a></li>
                    <li class="submenu_li"><a href="#" >Hoodies & Sweatshirts</a></li>
                    <li class="submenu_li"><a href="#" >Polo Shirts</a></li>
                    <li class="submenu_li"><a href="#" >Sportswear</a></li>
                    <li class="submenu_li"><a href="#" >Trousers & Chinos</a></li>
                    <li class="submenu_li"><a href="#" >T-shirts</a></li>
                </ul>
                <ul class="submenu_ul">
                    <li class="submenu_li"><a href="#" >Jackets</a></li>
                    <li class="submenu_li"><a href="#" >Shirts</a></li>
                    <li class="submenu_li"><a href="#" >Suits</a></li>
                    <li class="submenu_li"><a href="#" >Trousers</a></li>
                    <li class="submenu_li">
                        <div class="sales">
                            <a href="#"><span>AUTUMN SALE!</span><br><span>UP TO 50% OFF</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="slide_menu_li"><a href="#">WOMENS<span class="caret"></span></a>
            <div class="submenu">
                <ul class="submenu_ul">
                    <li class="submenu_li"><a href="#" >Jackets</a></li>
                    <li class="submenu_li"><a href="#" >Hoodies & Sweatshirts</a></li>
                    <li class="submenu_li"><a href="#" >Polo Shirts</a></li>
                    <li class="submenu_li"><a href="#" >Sportswear</a></li>
                    <li class="submenu_li"><a href="#" >Trousers & Chinos</a></li>
                    <li class="submenu_li"><a href="#" >T-shirts</a></li>

                </ul>
                <ul class="submenu_ul">
                    <li class="submenu_li"><a href="#" >Jackets</a></li>
                    <li class="submenu_li"><a href="#" >Shirts</a></li>
                    <li class="submenu_li"><a href="#" >Suits</a></li>
                    <li class="submenu_li"><a href="#" >Trousers</a></li>
                    <li class="submenu_li">
                        <div class="sales">
                            <a href="#"><span>AUTUMN SALE!</span><br><span>UP TO 50% OFF</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </li>
        <li class="slide_menu_li"><a href="index.html">THE BRAND</a></li>
        <li class="slide_menu_li"><a href="local-stores.html">LOCAL STORES</a></li>
        <li class="slide_menu_li"><a href="look-book.html">LOOKBOOK</a></li>


    </ul>
</nav>

<div class="fixed-header">
    <button type="button"
            class="toggle-button">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
</div>